# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Build directory / files for frontend
/public/*
!/public/.gitignore

# Upload directory
/uploads/*
!/uploads/.gitignore